<header class="site-header">


  <div class="wrapper" style="text-align: center;">

    <nav class="site-nav">

    <!-- <a class="page-link" id="nav2" href="{{ site.baseurl }}/about">whoami</a> -->
    <a class="page-link" id="nav4" href="{{ site.baseurl }}/about">bio</a>
    <a class="page-link" id="nav4" href="{{ site.baseurl }}/music">listen</a>
    <a class="page-link" id="nav3" href="{{ site.baseurl }}/"> <img class="site-logo" src="{{ site.baseurl }}/img/jackcampbell-logo-4.png"></a>
    <a class="page-link" id="nav5" href="{{ site.baseurl }}/contact">contact</a>
    <a class="page-link" id="nav1" href="{{ site.baseurl }}/blog">blog</a>
  </nav>

  </div>

</header>
